.browsing_page {
    display: flex;
    clear: both;
    justify-content: space-around
  }

  .resources-items {
    width: 100%;
    height: auto;
    display:flex;
  }

  .request-button {
    float: left;
    margin-top: 20px;
  }

  .res-square {
    width:200px;
    height: 210px;
    background-color: #D9D9D9;
    margin: 10px;
    border-radius: 15px;
    float: left;
  }

  .res-item-title {
    display: block;
    width: 100%;
    background: #1788DA;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
  }

  .res-item-title a {
    color: #fff !important;
    font-weight: 600;
    width: 100%;
  }

  .res-item-description {
    width: 100%;
    float: left;
    height: 43px;
    text-align: center;
    padding:10px;
    display: flex;
  }

  .res-item-description a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: block;
    width: 100%;

  }

  .res-item-thumbup {
    width: 100%;
    clear: both;
    border-bottom: 1.5px solid #999;
    text-align: right;
    padding-right: 15px;
  }

  .res-item-author {
    width: 100%;
    clear: both;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
  }

  .res-item-modal-title-auth {
    width: 300px;
    float: left;
    clear: both;
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
    position: absolute;
    top: 0;
  }

  .res-item-bottom {
    display: inline-flex;
    height: 50px;
    padding: 5px 0 0 15px;
  }

  .res-item-thumbup {
    align-self: flex-end;
  }

  .res-item-thumbup-icon {
    margin-bottom: 5px;
  }

.res-uppperbox {
  width: 100%;
  float: left;
  background-color: #1788DA;
  height: 100px;
  border-radius: 15px;
}

.res-squares-container {
  width: 900px;
  float: left;
  clear: both;
}

.res-bottom-items {
  margin-top: 50px;
  width: 900px;
  float: left;
}
  
.request-list-btn {
  float: left;
}

.request-list-btn button {
  background-color: #D9D9D9;
  color: #000;
  font-weight: bold;
}

.request-btn {
  float: right;
  margin-right: 30px;
}

.request-btn button {
  color: #000;
  font-weight: bold;
  background-color: #1788DA;
}

.res-item-modal-title {
  background-color: #1788DA;
}

.res-item-modal-title-content {
  width: 100%;
  clear: both;
  text-align:center;
  float: left;
  font-weight: 600;
  font-size: 20px;
}

.res-item-modal .modal-content {
  border: none;
}

.list-res-steps-title {
  width: 400px;
  clear: both;
  display: block;
}

.list-col-name {
  width: 195px;
  float: left;
  padding: 0 0 10px 10px;
  font-weight: 800;
  font-size: 18px;
}

.res-steps-list-groups {
  width: 400px;
  float: left;
}

.res-steps-list-item div {
  border: none;
  border-bottom: solid #000 1px;
  margin-right: 15px;
}

.res-step-group-bottom {
  border-top: solid #000 1px;
  margin-top: 30px;
  padding-top: 10px;
  width: 100%;
  float: left;
}

.res-step-group-comment {
  width: 200px;
  float: left;
}

.like-button-wrapper {
  float: right;
}

.like-button {
  height: 5px;
}

.res-step-comment {
  width: 100%;
  float: left;
}

.confuse-icon {
  font-size: 25px;
}

.comments-box input {
  background-color: #1788DA;
  border-radius: 15px;
  color: #fff;
}

.comments-box input::placeholder {
  color: #fff;
}