.navbar-nav a {
    color: #fff;
    text-decoration: none;
  }
  .navbar-nav li {
    margin-top: 0;
    margin: 0 6px 0 6px;
    width: 90px;
  }
  
  .navbar-nav li a{
    text-align: center;
  }
  
  .navbar-nav li.active {
    font-weight: bold;
    background-color: #1788DA;
    border-radius: 5px;
  }
  .navbar-nav li a:hover {
    font-weight: bold;
    color: #fff;
  }