.task-div {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #1e90ff;
  border-radius: 15px;
  height: 60px;
}

.tasklist-div {
  padding: 8px;
}

.container-div {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  display: inline-block;
}

.col-title-div {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.panel-container {
  padding-top: 10px;
  width: 80% !important;
  max-width: 800px;
}

.panel-col-div {
  width: 25%;
  margin-left: 40px;
  float: left;
}

.panel-inputs-container {
  clear:both;
  width: 90%;
}

.panel-text-inputs {
  width: 100%;
  float: left;
}

.panel-input-plus-btn {
  float: left;
  background-color: #a9a9a9;
  width: 30px;
  height: 30px;
  padding: 2px !important;
  border-radius: 40%;
  text-align: center;
  margin: 5px;
  text-decoration: none;
  cursor:pointer;
  caret-color: transparent
}

.panel-text-inputs input {
  width: 28%;
  float: left;
  margin: 0 15px 0 15px;
}

.panel-share-btn {
  margin-top: 10px;
  margin-left: 50px;
  width: 60%;
}

.seperator {
  clear: both;
  float: left;
  width: 600px;
  border-top: solid 1px #000;
  margin-bottom: 10px;
}