.App-nav {
    width: 50%;
    display: flex;
    margin: 1rem auto;
    justify-content: space-around;
  }
  
  .active-link {
    color: pink;
    border-bottom: 1px solid white;
  }
  
  a {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(38, 36, 36);
    transition: all 0.4s ease-out;
  }
  
  .App-nav a:hover {
    /* border-bottom: 1px solid rgba(248, 187, 208, 1); */
    color: rgba(248, 187, 208, 1);
    cursor: pointer;
  }

  .row-buttons {
    padding: 10px 0 0 0;
  }